# Scientific Programming - Project Work

### Asteroids - NASA

In [1]:
# Connect to NASA API

import requests
import pandas as pd

# Set the API endpoint URL
url = "https://api.nasa.gov/neo/rest/v1/feed"

# Set the parameters for the API request
api_key = "96ycipvaBH52byeolyOAQPaaoEJCmLGZpzmWVwLG"
start_date = "2022-04-22"
end_date = "2022-04-26"

# Build the API request URL
request_url = f"{url}?start_date={start_date}&end_date={end_date}&api_key={api_key}"

# Send the API request and get the response
response = requests.get(request_url)

# Convert the response to JSON format
json_data = response.json()

# Extract the asteroid data from the JSON response
asteroid_data = []
for date in json_data["near_earth_objects"]:
    for asteroid in json_data["near_earth_objects"][date]:
        asteroid_data.append({
            "name": asteroid["name"],
            "diameter": asteroid["estimated_diameter"]["meters"]["estimated_diameter_max"],
            "velocity": asteroid["close_approach_data"][0]["relative_velocity"]["kilometers_per_second"],
            "distance": asteroid["close_approach_data"][0]["miss_distance"]["kilometers"]
        })

# Convert the asteroid data to a Pandas dataframe
asteroid_df = pd.DataFrame(asteroid_data)

# Display the dataframe
print(asteroid_df)

           name    diameter       velocity            distance
0   (2000 TU28)  366.471308  15.3356012156  41541586.745959377
1     (2003 HM)  259.441818  21.9748310242  65188931.401511058
2     (2006 FK)  326.617897  10.1083679975  34112182.467245229
3    (2009 CC3)  895.447192   9.5440172595  13949362.684353822
4   (2009 HX51)  363.111479   7.8830053039  72235507.834433399
..          ...         ...            ...                 ...
86    (2022 HQ)   21.579430   7.0407574106   3321172.032025893
87   (2022 HL1)   51.290860  12.8842563094   5320041.878895932
88   (2022 HE3)   51.290860   12.903674078   4702173.833326596
89    (2022 JT)   43.056624   4.6805394689   3247682.078388393
90   (2022 UW4)   59.984629  12.6366912766  37318257.084527753

[91 rows x 4 columns]

In [2]:
# what data types are in the dataframe?
asteroid_df.dtypes

name         object
diameter    float64
velocity     object
distance     object
dtype: object

In [3]:
# Convert the diameter, velocity, and distance columns to numeric data types
asteroid_df["diameter"] = pd.to_numeric(asteroid_df["diameter"])
asteroid_df["velocity"] = pd.to_numeric(asteroid_df["velocity"])
asteroid_df["distance"] = pd.to_numeric(asteroid_df["distance"])

In [4]:
# convert name to string
asteroid_df["name"] = asteroid_df["name"].astype(str)

In [5]:
# find the five closest asteroid to Earth
closest_asteroids = asteroid_df.sort_values("distance").head(5)

# display the five closest asteroids in the right order
print(closest_asteroids[["name", "distance"]].reset_index(drop=True))

         name      distance
0  (2022 HB1)  2.006649e+05
1  (2022 HB2)  8.317558e+05
2   (2022 HD)  1.417645e+06
3  (2022 HS1)  1.674893e+06
4  (2022 HK1)  1.677603e+06

In [6]:
# Set the API endpoint URL
url2 = "https://api.nasa.gov/neo/rest/v1/neo/browse/"

# Set the parameters for the API request
api_key = "96ycipvaBH52byeolyOAQPaaoEJCmLGZpzmWVwLG"

# Build the API request URL
request_url2 = f"{url2}?api_key={api_key}"

# Send the API request and get the response
response2 = requests.get(request_url2)

# Convert the response to JSON format
json_data2 = response2.json()

# Extract the asteroid data from the JSON response
asteroid_data2 = []

for asteroid in json_data2["near_earth_objects"]:
    asteroid_data2.append({
        "name": asteroid["name"],
        "diameter": asteroid["estimated_diameter"]["meters"]["estimated_diameter_max"],
        "velocity": asteroid["close_approach_data"][0]["relative_velocity"]["kilometers_per_second"],
        "distance": asteroid["close_approach_data"][0]["miss_distance"]["kilometers"],
        "is_sentry_object": asteroid["is_sentry_object"],
        "orbiting_body": asteroid["close_approach_data"][0]["orbiting_body"]
    })

# Convert the asteroid data to a Pandas dataframe
asteroid_df2 = pd.DataFrame(asteroid_data2)

# Display the dataframe
print(asteroid_df2)

                           name      diameter       velocity  \
0            433 Eros (A898 PA)  51527.607590   5.5786191875
1          719 Albert (A911 TB)   4529.392731   3.4460290151
2          887 Alinda (A918 AA)  10186.851583   6.8047854867
3        1036 Ganymed (A924 UB)  85514.542927   6.3038665252
4          1221 Amor (1932 EA1)   1986.277755  13.2693807828
5         1566 Icarus (1949 MA)   2978.790628  27.0081177082
6        1580 Betulia (1950 KA)   6855.513317  28.6869570374
7     1620 Geographos (1951 RA)   5129.085974  11.7628248286
8           1627 Ivar (1929 SH)  16750.970692   8.3835333947
9           1685 Toro (1948 OA)   8166.575449   17.009119587
10        1862 Apollo (1932 HA)   3564.839479  12.3118801079
11      1863 Antinous (1948 EA)   4853.331752   18.079538445
12      1864 Daedalus (1971 FA)   6607.542706  22.5061429999
13      1865 Cerberus (1971 UA)   2594.418179  15.3277207205
14      1866 Sisyphus (1972 XA)  19321.461716  33.8145974556
15  1915 Quetzalcoatl (1953 EA)   1458.948557  15.1210055876
16        1916 Boreas (1953 RA)   6081.909854   6.9573979085
17          1917 Cuyo (1968 AA)   8017.518649  18.3975508673
18       1943 Anteros (1973 EC)   4325.536477  13.2592612669
19  1980 Tezcatlipoca (1950 LA)  10376.239294  12.9006028883

               distance  is_sentry_object orbiting_body
0    47112732.928149391             False         Earth
1   255628975.888701521             False         Juptr
2    47952475.902705628             False         Earth
3   292651849.435750484             False         Juptr
4    42642716.229489897             False         Earth
5    12638349.588301991             False         Earth
6    72648656.685149564             False         Earth
7     5071233.828107415             False         Earth
8    36882658.051541114             False         Earth
9    29959355.903338472             False         Earth
10   39948118.644590109             False         Earth
11   13378898.777996263             False          Mars
12   44377151.869819291             False         Earth
13   49946435.648286527             False         Earth
14   67489041.886545488             False         Earth
15    3789779.281515913             False         Earth
16   58321484.969065204             False         Earth
17   67287129.656366275             False         Earth
18   61714247.465693846             False         Earth
19   71658711.839193202             False         Earth

### Jupyter notebook --footer info--

In [8]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')

-----------------------------------
NT
Windows | 10
Datetime: 2023-05-07 12:54:30
Python Version: 3.10.9
-----------------------------------